.prod{
    text-align: center;
    border: 2px solid #35363b;
    margin: 2vw;
}

.prod > form > input[type="submit"] {
    border-radius: 10px;
    background-color: #35363b;
    border-color: #35363b;
    padding: 1vw;
    color: #ffffff;
}

.ajouterProd{

    border: 2px solid #35363b;
    font-size: 2vw;
    border: 2px solid #35363b;
    padding: 1vw;
    margin: auto;
    width: 50vw;
    text-align: center;
}

.ajouterProd > form > div > input{
    border-radius: 10px;
    border-color: #35363b;
    padding: 0.5vw;
    margin: 1vw;
}

.ajouterProd > form > input[type="submit"] {
    border-radius: 10px;
    background-color: #35363b;
    border-color: #35363b;
    padding: 1vw;
    color: #ffffff;
}